@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,.5) ,rgba(0,0,0,.8)), url('../img/bg.jpg');
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;

}
input,button{
    font-family: 'vazir';
}

:focus{
    outline: none;
}

.container{
    width: 450px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* padding: 10px; */
    padding: 1px;
    /* background: #fff; */
    background :linear-gradient(rgba(0,0,0,.5) ,rgba(0,0,0,.8));
}


.container .header-title{
    color: #c00;
    width: 100%;
    /* width: 100%; */
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 1px;
    /* padding-bottom: 15px;
    margin-bottom: 15px; */
}

.container form{
    padding: 5px 5px;
}

.container form .form-control{
    width: 90%;
    margin-top: 1px;
    position: relative;
}

.form-control label{
    color: #fff;
    display: block;
    text-align: right;
    margin-right: 25px;
    margin-bottom: 2px;
}

.form-control input{
    text-align: right;
    margin-right: 25px;
    width: 90%;
    padding: 2px;
    border: none;
    border: 2px solid #d8d8d8;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-control.error input{
    border-color: #f14545;
}

.form-control.success input{
    border-color: #43cc5a;
}

.form-control input::placeholder{
    color: #b9b9b9;
}

.form-control svg{
    position: absolute;
    left: 5px;
    top: 50%;
    visibility: hidden;
}

.form-control .fa-check-circle{
    color: #43cc5a;
}


.form-control .fa-exclamation-triangle{
    color: #c00;
}


.form-control.error .fa-exclamation-triangle{
    visibility: visible;
}
.form-control.success .fa-check-circle{
    visibility: visible;
}

.form-control span{
    font-size: 8px;
    color: #c00;
    visibility: hidden;
}
.form-control.error span{
    visibility: visible;
}
form button{
    margin-right: 30px;
    background: #42b856;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    border: none;
    width: 80%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

form button:hover{
    background: #2d9c3f;
}