{% extends '_base.html' %}

{% block title %}
    login patient
{% endblock %}

{% block content %}
    <br><br><br><br>
<div class="container">
        <div class="header-title">
            <h3>اطلاعات کاربری خود را وارد کنید</h3>
        </div>

        <form class="form" method="post" id="form">
            {% csrf_token %}

            <div class="form-control">
                <label>نام کاربری</label>
                <input type="text" id="username" name="username1" placeholder="نام کاربری" >
{#                <i class="fas fa-check-circle"></i>#}
{#                <i class="fas fa-exclamation-triangle"></i>#}

            </div>

            <div class="form-control">
                <label>رمزعبور</label>
                <input type="password" name="password1" id="password" placeholder="رمز عبور" >


            </div>


            <button  type="submit"  class="btn btn-success m-1">ورود </button>

        </form>

    </div>
{% endblock %}