{% load static %}

<div class="page-section banner-home bg-image" style="background-image: url({% static 'img/banner-pattern.svg' %});">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="{% static 'img/mobile_app.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h2 class="font-weight-normal mb-3">دسترسی آسان و جامع بااستفاده از اپلیکیشن دنیای سلامتی</h2>
          <a href="#"><img src="{% static 'img/google_play.svg' %}" alt=""></a>
          <a href="#" class="ml-2"><img src='{% static 'img/app_store.svg' %}' alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>شرکت</h5>
          <ul class="footer-menu">
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">حرفه و تخصص</a></li>
            <li><a href="#">متخصصین ما</a></li>
            <li><a href="#">حامیان ما</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>سایر امکانات</h5>
          <ul class="footer-menu">
            <li><a href="#">شرایط و ضوابط</a></li>
            <li><a href="#">حریم خصوصی</a></li>
            <li><a href="#">تبلیغات</a></li>
            <li><a href="#">عضویت پزشکان</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>شریکان ما</h5>
          <ul class="footer-menu">
            <li><a href="#">دنیای تناسب اندام</a></li>
            <li><a href="#">دنیای دارو</a></li>
            <li><a href="#">دنیای زندگی</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>تماس با ما</h5>
          <p class="footer-link mt-2">بلوار فردوسی نبش خیابان ثمانه پلاک 10</p>
          <a href="#" class="footer-link">051312345678</a>
          <a href="#" class="footer-link">HealthWord@Company.net</a>

          <h5 class="mt-3">شبکه های اجتماعی</h5>
          <div class="footer-sosmed mt-3">
            <a href="#" target="_blank"><span class="mai-logo-facebook-f"></span></a>
            <a href="#" target="_blank"><span class="mai-logo-twitter"></span></a>
            <a href="#" target="_blank"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#" target="_blank"><span class="mai-logo-instagram"></span></a>
            <a href="#" target="_blank"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
      </div>

      <hr>

      <p id="copyright"> . تمامی حقوق این وب سایت برای  <a href="#">دنیای سلامتی</a> محفوظ است  </p>

    </div>
  </footer>